<%= render 'shared/header' %>

<main class="container mx-auto mt-32 px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-lg p-8">
    <h2 class="text-3xl font-bold text-gray-900 mb-6">Novo Autor</h2>
    
    <%= render 'form', author: @author %>
  </div>
</main>
